:root {
  --black-1: #111111;
  --orange: #fa5400;
  --grey: #757575;
  --grey-2: #f5f5f5;
  --soft-gray: rgba(117, 117, 117, 0.2);
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-size: 16px;
  font-weight: 400;
  color: var(--black-1);
  font-family: "Montserrat", sans-serif;
}

.container {
  padding: 0 55px;
  margin: 0 auto;
  max-width: 1440px;
}

.navbar {
  display: flex;
  justify-content: space-between;
  padding: 0 55px;
  max-width: 1440px;
  width: 100%;
  height: 60px;
  background-color: white;
}

.navbar__menu-list {
  display: flex;
  list-style: none;
  align-items: center;
}

.navbar__menu-list__item {
  margin-right: 40px;
}

.navbar__menu-list__item a {
  color: var(--black-1);
  text-decoration: none;
  font-weight: 500;
}

.navbar__menu-list__item:last-child {
  margin-right: 0px;
}

.navbar__actions {
  display: flex;
  align-items: center;
}

.navbar__actions__search {
  width: 200px;
  height: 40px;
  padding-left: 54px;
  padding-right: 15px;
  font-size: 1rem;
  background-image: url("./assets/icons/search-icon.svg");
  background-position: center left 16px;
  background-repeat: no-repeat;
  background-color: var(--grey-2);
  border-radius: 200px;
  border: none;
}

.navbar__actions__search::placeholder {
  color: var(--grey);
}

.navbar__actions__link {
  margin-left: 24px;
}

.main {
  margin-top: 40px;
}

.main-grid {
  display: grid;
  grid-template-columns: 3fr 1.5fr;
  gap: 55px;
}

.cart-info__shipping {
  padding: 16px;
  color: var(--grey);
  border: 1px solid var(--grey);
}

.cart-info__shipping h2 {
  margin-bottom: 4px;
  font-size: 1.75rem;
  font-weight: 600;
  color: var(--orange);
}

.cart-info__shipping a {
  color: var(--grey);
  font-weight: 600;
}

.cart-info__cart {
  margin-top: 40px;
}

.cart-info__cart__title {
  color: var(--black-1);
  font-weight: 600;
}

.cart-item {
  display: grid;
  grid-template-columns: auto 4fr;
  column-gap: 16px;
  margin-top: 16px;
}

.cart-item__img {
  width: 128px;
  height: 128px;
}

.cart-item__info {
  display: flex;
  justify-content: space-between;
  color: var(--grey);
}

.cart-item__info__content__title {
  margin-bottom: 4px;
  color: var(--black-1);
  font-weight: 600;
}

.cart-item__info__content__desc {
  margin-bottom: 4px;
}

.cart-item__info__content__desc__data {
  display: flex;
}

.cart-item__info__content__desc__data p {
  margin-right: 16px;
}

.cart-item__info__content__desc__data span {
  color: var(--black-1);
}

.cart-item__info__price {
  color: var(--black-1);
}

.cart-item__actions {
  grid-column-start: 2;
}
.cart-item__actions a {
  margin-right: 16px;
  color: var(--grey);
}

.cart-item__price {
  grid-row-start: 2;
}

.footer {
  display: grid;
  height: 352px;
  padding-top: 64px;
  background-color: var(--black-1);
}

.footer__grid {
  display: grid;
  grid-template-columns: repeat(3, 1.8fr) 3fr;
  gap: 64px;
}

.footer__list {
  list-style: none;
}

.footer__list__item,
.footer__list__item a {
  margin-top: 16px;
  color: var(--grey);
  text-decoration: none;
  transition: 300ms;
}

.footer__list__item a:hover {
  color: white !important;
}

.footer__list__item:first-child {
  margin-top: 0;
}

.footer__list__item.--important,
.--important a {
  color: white;
  text-transform: uppercase !important;
  font-weight: 600;
}

.footer__social-media-icons {
  display: flex;
  justify-content: flex-end;
}

.footer__social-media-icons__item {
  display: block;
  width: 48px;
  height: 48px;
  padding: 12px;
  margin-right: 24px;
  background-color: var(--grey);
  border-radius: 50%;
}

.footer__social-media-icons__item:last-child {
  margin-right: 0;
}

.icon {
  width: 100%;
  height: 100%;
  display: block;
  background-repeat: no-repeat;
  background-size: cover;
}

.icon.twitter {
  background-image: url("../assets/icons/twitter-icon.svg");
}

.icon.facebook {
  background-image: url("../assets/icons/facebook-icon.svg");
}

.icon.instagram {
  background-image: url("../assets/icons/instagram-icon.svg");
}

.icon.youtube {
  background-image: url("../assets/icons/youtube-icon.svg");
}
