.navbar__actions__cart-container {
  position: relative;
}

.navbar__actions__cart-container__counter {
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
  top: 0;
  right: 0;
  width: 12px;
  height: 12px;
  font-size: 0.5rem;
  font-weight: bold;
  color: white;
  background-color: var(--black-1);
  border: 2px solid white;
  border-radius: 6px;
}

.main {
  margin-top: 40px;
}

.main-grid {
  display: grid;
  grid-template-columns: 3fr 1.5fr;
  gap: 55px;
}

.cart-info__shipping {
  padding: 16px;
  color: var(--grey);
  border: 1px solid var(--grey);
}

.cart-info__shipping h2 {
  margin-bottom: 4px;
  font-size: 1.75rem;
  font-weight: 600;
  color: var(--orange);
}

.cart-info__shipping a {
  color: var(--grey);
  font-weight: 600;
}

.cart-info__cart {
  margin-top: 40px;
}

.cart-info__cart__title {
  color: var(--black-1);
  font-weight: 600;
}

.cart-item {
  display: grid;
  grid-template-columns: auto 4fr;
  column-gap: 16px;
  margin-top: 16px;
}

.cart-item__img {
  width: 128px;
  height: 128px;
}

.cart-item__info {
  display: flex;
  justify-content: space-between;
  color: var(--grey);
}

.cart-item__info__content__title {
  margin-bottom: 4px;
  color: var(--black-1);
  font-weight: 600;
}

.cart-item__info__content__desc {
  margin-bottom: 4px;
}

.cart-item__info__content__desc__data {
  display: flex;
}

.cart-item__info__content__desc__data p {
  margin-right: 16px;
}

.cart-item__info__content__desc__data span {
  color: var(--black-1);
}

.cart-item__info__price {
  color: var(--black-1);
}

.cart-item__actions {
  grid-column-start: 2;
}
.cart-item__actions a {
  margin-right: 16px;
  color: var(--grey);
}

.cart-item__price {
  grid-row-start: 2;
}

.cart-resume__title {
  font-size: 1.75rem;
  font-weight: 600;
}

.cart-resume__content {
  display: flex;
  justify-content: space-between;
  margin-top: 16px;
}

.cart-resume__total {
  display: flex;
  justify-content: space-between;
  font-weight: 600;
}

.btn {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 48px;
  margin-top: 16px;
  font-weight: 600;
  font-size: 1rem;
  text-decoration: none;
  background-color: white;
  border: 1px solid var(--soft-gray);
  border-radius: 150px;
  cursor: pointer;
  transition: 300ms all;
}

.btn:hover {
  border: 1px solid var(--grey);
  background-color: var(--soft-gray);
}

.--primary {
  color: white;
  background-color: var(--black-1);
  border: none;
}

.--primary:hover {
  background-color: #6f6f6f;
}

.btn:first-child {
  margin-top: 0;
}

.divider {
  width: 100%;
  height: 1px;
  margin: 16px 0;
  background-color: var(--soft-gray);
}

.cart-shipping {
  margin-top: 40px;
}

.cart-shipping__title {
  font-weight: 600;
}

.cart-shipping__text a {
  margin-left: 8px;
  color: var(--black-1);
}

.cart-favorites {
  margin-top: 16px;
  margin-bottom: 64px;
}

.cart-favorites__title {
  font-size: 2rem;
}

.cart-favorites__text {
  margin-top: 4px;
}

.cart-favorites__text a {
  color: var(--black-1);
  font-weight: 600;
}

@media screen and (max-width: 819px) {
  .main-grid {
    grid-template-columns: 1fr;
  }
}

@media screen and (max-width: 500px) {
  .cart-item__info {
    flex-direction: column;
  }
}
